body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
padding: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col-lg-6 {
  width: 50%;
}
.add-form,.list-tast{
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid black;
}
.form-box{
  width: 100%;
  height:600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form-wrap, .form-group{
  width: 100%;
}
.form-group{
  display: flex;
  flex-direction: column;
}

.new-name-task{
  word-wrap: break-word;
}
.new-desc-task input{
  height: 140px;
  border: 1px solid brown;
}
.input-level{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.btn-add, .btn-clear{
  width: 100%;
}
.search-box{
  width: 100%;
  display: flex;
}
.search-box input{
  flex: 1;
}
.task-item{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}